/Galleria1-Default/app/nbproject/private/
/Galleria1-Default/app/public_html/js/libs/
/Galleria2-Knockout/app/nbproject/private/
/Galleria2-Knockout/app/public_html/js/libs/
/Galleria3-Galleria.io/app/nbproject/private/
/Galleria3-Galleria.io/app/public_html/js/libs/
/Galleria4-OracleJET/app/nbproject/private/
/Galleria4-OracleJET/app/public_html/js/libs/
