<ul id="accordion">
    <li>
        <h3>a</h3>
        <div>a</div>
    </li>
    <li>
        <h3>b</h3>
        <div>b</div>
    </li>
    <li>
        <h3>c</h3>
        <div>c</div>
    </li>
</ul>


<div id="images">
    <ul data-bind="foreach: images">
        <li style="list-style: none">
            <img   type="image"
                   style="border:1px solid black"
                   data-bind="attr:{src: $data}"
                   width="250"
                   height="250"
                   alt="No picture taken."/>
        </li>
    </ul>
</div>